.primaryButton {
    display: inline-block;
    font-family: "Fredoka", serif; 
    font-weight: var(--bold);
    padding: 10px 20px;
    font-size:1.1rem;
    color: #fff;
    background-color:var(--green);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease; 
    margin-top: 0.5rem;
}

.primaryButton:hover {
    transform: scale(1.1); 
  }

  
/* Screens between 1200px and 1800px */
@media (max-width: 1800px) and (min-width: 1200px) {
    .primaryButton {
      font-size: 1.2rem;
      padding: 0.75rem 1.5625rem; /* 12px 25px */
    }
  }