
  .phase {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(20% - 1rem); /* Adjust for 5 items per row */
    max-width: calc(20% - 1rem);
    padding: 1rem;
    text-align: center;
  }
  
  .phase h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color:white;
    background-color: var(--blue);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    display: inline-block;
  }
  
  .phase ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #666;
  }
  
  .phase li {
    margin: 0.5rem 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .phase {
      flex: 1 1 calc(50% - 1rem); /* 2 items per row */
      max-width: calc(50% - 1rem);
    }
  }
  
  @media (max-width: 480px) {
    .phase {
      flex: 1 1 100%; /* 1 item per row */
      max-width: 100%;
    }
  }
  