/* Global.css */

/* font-family: "Fredoka", serif; */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Pixelify+Sans:wght@400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*   font-family: "Open Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}

:root {
  --blue: #205989;
  --pink: #F5AFAF;
  --text_white: #FFFFFF;
  --bold: 500;
  --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2)
}


/* Typography */
h1,
h2,
h4{
  font-family: "Fredoka", serif;
  font-weight: var(--bold);
  color: #205989;
}

h5{
  font-family: "Fredoka", serif;
  font-weight: var(--bold);
  color: #FFFFFF;
}

 h2 span {
  display: block; 
}

p {
  font-family: "Open sans";
  color: var(--blue);
  font-size:1.5rem;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;

}

h4{
  font-size: 1.8rem;
}

h5 {
  font-size: 2rem;
}



/* animation */
@keyframes float {
  0% {
    transform: translateY(0px); 
  }
  50% {
    transform: translateY(50px); 
  }
  100% {
    transform: translateY(0); 
  }
}

@keyframes float-2 {
  0% {
    transform: translateY(0px); 
  }
  50% {
    transform: translateY(10px); 
  }
  100% {
    transform: translateY(0); 
  }
}






/* container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}


/* Paper Pattern */
.bg_pattern {
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: -1;
}


.Paper_v2 {
  background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      var(--pink) 26px, var(--pink) 26px,
      transparent 27px, transparent 51px,
      var(--pink) 52px, var(--pink) 52px,
      transparent 53px, transparent 77px,
      var(--pink) 78px, var(--pink) 78px,
      transparent 79px, transparent 103px,
      var(--pink) 104px, var(--pink)104px,
      transparent 105px, transparent 129px,
      var(--pink)130px, var(--pink) 130px),

    repeating-linear-gradient(to right,
      transparent 25px,
      var(--pink) 26px, var(--pink) 26px,
      transparent 27px, transparent 51px,
      var(--pink) 52px, var(--pink) 52px,
      transparent 53px, transparent 77px,
      var(--pink) 78px, var(--pink)78px,
      transparent 79px, transparent 103px,
      var(--pink) 104px, var(--pink)104px,
      transparent 105px, transparent 129px,
      var(--pink)130px, var(--pink) 130px);
}

.curved {
  position: relative;
  height: 50vh;
  border-bottom-left-radius: 50% 23%;
  border-bottom-right-radius: 50% 23%;
} 



/* Hero section */

.Home-hero{
  min-height: 80vh;
  position: relative;
}

.Home-hero__text {
  position: absolute;
  top: 20%;
  z-index: 1;
}


.cloud {
  width: 1300px;
  height: auto;
  position: absolute;
  top: 20%; 
  opacity: 60%;
}


.cloud img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cloud1 {
  left: 40%; /* 初期位置を画面内の左端に設定 */
}

.cloud1-duplicate {
  left: 100vw; /* 複製雲を画面右端に配置 */
}

.cloud2 {
  left: 0; /* 初期位置を画面内の左端に設定 */
  top: 30%; /* 雲2の高さを調整 */
}

.cloud2-duplicate {
  left: 100vw; /* 複製雲を画面右端に配置 */
  top: 30%; /* 雲2複製も高さを揃える */
}


@media (max-width: 768px) {
  .cloud {
    width: 700px;
    top: 50%; 
  }
  
}
@media (max-width: 480px) {
  .cloud {
    width: 800px;
  }
}


/* message section */
.message {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--blue);
}

/* Airplane Animation */
.message-airplane {
  animation: shake 2s ease-in-out infinite;
  position: relative;
}
.message-airplane img {
  width: 150px;
  height: auto;
  position: absolute;
}
.airplane-1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.airplane-2 {
  position: absolute;
  top: 10%;
  left: 80%;
}
.airplane-3 {
  position: absolute;
  top: 0%;
  left: 90%;
}

.message-layout {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Message Box */

.message-box {
  flex-basis: 70%;
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 20px;
  min-width: 200px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background:var(--text_white);
  border-radius: 15px;
}

.message-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  border: 20px solid transparent;
  border-bottom: 70px solid var(--text_white);
  transform: translateY(-100%);
}

.message-box__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.message-header h2 {
  flex: 1;

}

.message-box__icon {
  flex-shrink: 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.message-box__icon:hover {
    transform: scale(1.1);
    box-shadow: var(--box-shadow);
  }

.message-box__icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.message-box p {
  margin-top: 4rem;
}

.message-tanukiBox {
  flex-basis: 30%;
  animation: float 4.5s ease-in-out infinite; 
}

.message-tanukiBox img {
  max-width: 400px;
  height: auto;
}

@media (max-width: 768px) {
  .message-layout {
    flex-direction: column;
    align-items: center;
  }

  .message-box {
    width: 100%;
    max-width: 90%;
    margin-bottom: 1.5rem;
  }

  .message-tanukiBox {
    width: 100%;
    max-width: 90%;
    margin-top: 1rem;
  }
}


@media (max-width: 480px) {

  .message-box {
    padding: 1rem;
    font-size: 0.9rem;
  }

  .message-box:before {
    right: 10px;
    border-bottom: 40px solid var(--text_white);
  }

  .message-box__icon {
    width: 40px;
    height: 40px;
  }

  .message-tanukiBox img {
    max-width: 300px;
  }

  .message-airplane img {
    width: 100px;
  }
  .airplane-1 {
    top: 90%;
    transform: none;
  }
  .airplane-2 {
    top: 60%;
    left: 70%;
  }
  .airplane-3 {
    top: 80%;
    left: 70%;
  }


}

/* featured section */
.featured {
  background-image: url("./assets/sky-bg.jpeg");
  background-size: cover; 
  padding-top: 3rem;
  background-position: center; 
  background-repeat: no-repeat; 
}

.featured h3{ 
  font-size: 30px;
  text-align: center;
  margin-bottom: 3rem;
}


/* About page */

.about-header {
  background-color: var(--blue);
  min-height:65vh;
  padding-bottom:3rem;
  position: relative;
} 

.about-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease; 
}
.about-header__text {
  flex-basis: 70%;
  position: relative;
  padding-right: 10px;
  z-index: 1;

}




.about-header__text h1,
.about-header__text p {
  color: white;
  margin: 0; 
}

.about-header__text p {
  margin-top: 2rem;
}

.about-header__image {
  width: 300px;
  height: auto;
  flex-basis: 30%;
  position: relative;
}

.about-header__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: float 4.5s ease-in-out infinite; 
}


/*  Cards  */

.about-cards {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.about-cards h2 {
  position: relative;
  padding: 8px 15px;
  margin-left: 40px;
  text-align: center;
  background: #def3ff;
  border-radius: 20px;
}

.about-cards h2 :before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  font-weight: 900;
  position: absolute;
  font-size: 15px;
  left: -40px;
  bottom: 0;
  color:var(--text_white);

}
.about-cards h2 :after {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  font-weight: 900;
  position: absolute;
  font-size: 23px;
  left: -23px;
  bottom: 0;
  color: var(--text_white);

}

/* Card  */




.photo-container {
  perspective: 1000px; /* 3D効果を出すための設定 */
  animation: float-2 3s ease-in-out infinite; 
}



.photo {
  width: 300px; /* 任意のサイズ */
  height: 400px;
  position: relative;
  transition: transform 0.6s; 
  transform-style: preserve-3d;
  cursor: pointer;
}


.photo-front,
.photo-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden; /* 裏面を隠す */
}

.photo-front {
  z-index: 2; /* 前面に表示 */
}

.photo-back {
  transform: rotateY(180deg); /* 裏面をひっくり返す */
  display: flex; /* 中身を中央に */
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9); /* 半透明の背景 */
}

.photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px; /* 任意で角を丸く */
}

.flipped {
  transform: rotateY(180deg); /* Y軸に沿って回転 */
}




.about-offer {
  background-image: url(src/assets/bg-about.jpg);
}
.about-offer__content {
  padding: 4rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  align-items: flex-start; /* 上揃え */
}

.about-offer_dropContainer {
  width: 50%;
  position: relative; /* ドロップダウン用の絶対配置に対応 */
}

.about-offer_drop {
  position: relative;
  margin-bottom: 1rem;
  margin-bottom: 1rem; 
}

.drop-toggle {
  display: none;
}

label {
  cursor: pointer;
  display: block;
  color: var(--blue);
  font-size: 1.2rem;
  font-weight: bold;
}

.drop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--text_white);
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.drop-title:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.drop-title img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  animation: float-2 1.5s ease-in-out infinite;
}

.drop-title h5 {
  color: var(--blue);
}

/* Drop down */
.about-offer_dropDown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  background-color: #ffffff;
  padding: 0 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px; 
}


.drop-toggle:checked + label + .about-offer_dropDown {
  max-height: 250px; 
  padding: 10px;
}

/* Icons */
.about-offer__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 3rem;
  width: 50%;
  align-items: flex-start; 
}

.icon img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  display: inline-block;
}





/* About Responsive styles */
@media (max-width: 768px) {

  .curved {
    height: 90vh;
  } 

  .about-header__content {
    padding-top: 1rem;
    flex-direction: column;
    text-align: center;
  }

  .about-header__image {
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
    max-height: 400px;
  }

  .about-header__text {
    max-width: 100%;
    text-align: left;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
  }

  .about-offer__content {
   flex-direction: column;
   padding: 0;
  }

  .about-offer_dropContainer {
    width: 100%;

  }

  .drop-title {
    padding: 0.8rem; 
    font-size: 1rem; 
  }

  .drop-title img {
    width: 30px; 
    height: 30px;
  }

  .about-offer_dropDown {
    padding: 0 0.8rem; 
  }

  .about-offer_drop {
    margin-bottom: 1.2rem; 
  }
  .about-offer__icons {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    gap: 10px;
    margin: 0 auto; 
    width: 100%; 
    align-items: center; 
  }

  .icon img {
    width: 60px; 
    height: 60px;
    object-fit: contain;
  }
 
}






